{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{city.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldName">Language</label>
            <input id="fldName" type="text" class="form-control" placeholder="City Name" name="fldName" value="{{city.fldName}}">
        </div>
        <div class="col">
            <label for="fldAbbreviation">Name</label>
            <input id="fldAbbreviation" type="text" class="form-control" placeholder="City Abbreviation"
                   name="fldAbbreviation" value="{{city.fldAbbreviation}}">
        </div>
        <div class="col">
            <label for="fldCountry">Date of Birth</label>
            <input id="fldCountry" type="text" class="form-control" placeholder="City Country" name="fldCountry" value="{{city.fldCountry}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldLat">Address</label>
            <input id="fldLat" type="text" class="form-control" placeholder="City Latitude" name="fldLat" value="{{city.fldLat}}">
        </div>
        <div class="col">
            <label for="fldlong">Medical Priority group listing (by state)</label>
            <input id="fldlong" type="text" class="form-control" placeholder="City Longitude" name="fldLong" value="{{city.fldLong}}">
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

</form>
{% endblock %}